@using Proyecto_TallerII.Helpers

<!DOCTYPE html>
<html lang="en" class="h-full m-0">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Kanban</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Proyecto_TallerII.styles.css" asp-append-version="true" />
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/pagedone@1.2.2/src/css/pagedone.css " rel="stylesheet"/>
</head>
<body class="h-full m-0 @(ViewContext.RouteData.Values["controller"]?.ToString() == "Tarea" && ViewContext.RouteData.Values["action"]?.ToString() == "Index" ? "overflow-hidden" : "")">
    <header>
        <nav class="flex justify-between items-center">
            <div class="flex items-center">
                <a class="text-[#3b3b3b] text-[30px] font-bold mr-1" asp-area="" asp-controller="Home" asp-action="Index">Kanban</a>
                <a asp-controller="Home" asp-action="Index"><svg width="38px" height="38px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <path d="M10.5 19.9V4.1C10.5 2.6 9.86 2 8.27 2H4.23C2.64 2 2 2.6 2 4.1V19.9C2 21.4 2.64 22 4.23 22H8.27C9.86 22 10.5 21.4 10.5 19.9Z" fill="#8c52ff"></path> <path d="M22 12.9V4.1C22 2.6 21.36 2 19.77 2H15.73C14.14 2 13.5 2.6 13.5 4.1V12.9C13.5 14.4 14.14 15 15.73 15H19.77C21.36 15 22 14.4 22 12.9Z" fill="#8c52ff"></path> </g></svg></a>
            </div>
            @if(((ViewContext.RouteData.Values["controller"]?.ToString() == "Tablero" && ViewContext.RouteData.Values["action"]?.ToString() == "Index") ||
                (ViewContext.RouteData.Values["controller"]?.ToString() == "Usuario" && ViewContext.RouteData.Values["action"]?.ToString() == "EditarUsuario"))
                && AuthHelper.EsAdmin(ViewContext.HttpContext))
            {
                <div class="flex space-x-4">
                    <a asp-controller="Usuario" asp-action="CrearUsuario" class="border-2 border-[#8c52ff] rounded-[15px] text-[#3b3b3b] font-bold underline decoration-[1.5px] px-2 hover:bg-[#8c52ff] hover:text-white transition-colors duration-300">Crear Usuario</a>
                    <a asp-controller="Usuario" asp-action="Index" class="border-2 border-[#8c52ff] rounded-[15px] text-[#3b3b3b] font-bold underline decoration-[1.5px] px-2 hover:bg-[#8c52ff] hover:text-white transition-colors duration-300">Usuarios</a>
                </div>
            }
            @if(AuthHelper.EstaAutenticado(ViewContext.HttpContext))
            {
                <div class="flex items-center gap-2">
                    @if(AuthHelper.EsAdmin(ViewContext.HttpContext))
                    {
                        <svg fill="#E6BE00" height="22px" width="22px" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 277.366 277.366" xml:space="preserve" stroke="#E6BE00"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <g> <path d="M257.799,55.704c-7.706-3.866-17.016-2.36-23.111,3.734l-39.2,39.201l-38.526-86.757C153.753,4.657,146.589,0,138.683,0 s-15.07,4.657-18.278,11.883L81.878,98.64l-39.2-39.201c-6.094-6.093-15.405-7.6-23.111-3.733 C11.864,59.569,7.502,67.935,8.745,76.463l17.879,122.785c1.431,9.829,9.858,17.118,19.791,17.118h184.536 c9.933,0,18.36-7.289,19.791-17.118l17.88-122.786C269.864,67.934,265.502,59.568,257.799,55.704z"></path> <path d="M230.951,237.366H46.415c-11.046,0-20,8.954-20,20s8.954,20,20,20h184.536c11.046,0,20-8.954,20-20 S241.997,237.366,230.951,237.366z"></path> </g> </g></svg>
                    } else {
                        <svg width="22px" height="22px" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <circle cx="8" cy="8" r="8" fill="#6cbd4a"></circle> </g></svg>
                    }
                    <a asp-controller="Usuario" asp-action="Perfil" asp-route-idUsuario=@AuthHelper.ObtenerIdUsuario(ViewContext.HttpContext)
                    class="text-[#8c52ff] text-[16px] font-bold underline decoration-[1.5px]">@AuthHelper.ObtenerNombreDeUsuario(ViewContext.HttpContext)</a>
                    <a href="@Url.Action("Logout", "Login")">
                        <svg width="24px" height="24px" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" fill="none" stroke="#8c52ff"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round" stroke="#8c52ff" stroke-width="0.384"></g><g id="SVGRepo_iconCarrier"><path stroke="#8c52ff" stroke-linecap="round" stroke-linejoin="round" stroke-width="2.4" d="m19 12-4-4m4 4-4 4m4-4H9m5 9a9 9 0 1 1 0-18"></path></g></svg>
                    </a>
                </div>
            }
        </nav>
    </header>
    <div class="w-full h-[85%] flex flex-col">
        <main role="main" class="flex-grow">
            @RenderBody()
        </main>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/pagedone@1.2.2/src/js/pagedone.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
