/* Please see documentation at https://learn.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

/* Aplica el color y fuente */
*{
  font-family: 'Nunito', sans-serif;
}
header {
  border-bottom: 3px solid rgba(140, 82, 255, 0.6);
  padding: 13px 20px;
  font-size: 18px;
  display: flex;
  justify-content: center;
}
nav {
  width: 85%;
}
.relative {
  position: relative; /* Permite posicionar el span dentro del contenedor */
}

.absolute {
  position: absolute; /* Evita el desplazamiento de los demás elementos */
  top: 100%;          /* Posiciona justo debajo del input */
  left: 0;            /* Alinea al borde izquierdo del input */
}

.mt-1 {
  margin-top: 0.25rem; /* Separación entre el input y el mensaje */
}

.text-sm {
  font-size: 0.875rem; /* Ajusta el tamaño del texto */
}
