@using Proyecto_TallerII.ViewModels
@model ErrorViewModel

<div class="flex flex-col justify-center items-center w-full h-full">
    <h1 class="text-[#8c52ff]">
        <span class="text-9xl">@Model.StatusCode</span> 
        <span class="text-4xl">- @Model.Title</span>
    </h1>
    <p class="text-3xl text-[#3b3b3b] my-4">@Model.Message</p>
    <p class="text-xl text-[#3b3b3b]">Precione el link para volver a la página principal  
        <a class="text-[#8c52ff] underline" href="/Home">Volver</a>.
    </p>
</div>
